# Java
*.class
*.jar
*.war
*.iml
target/

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Env files
.env
.env.*

# Docker
**/Dockerfile
**/docker-compose.yml

# OS
.DS_Store
Thumbs.db